$white: #FFFFFF;

$primary-color-main: #01183F;
$primary-color-light: #1B3259;
$primary-color-dark: #000026;

$secondary-color-main: #FF4B00;
$secondary-color-light: #FF651A;
$secondary-color-dark: #E63200;

$mustard: #E68A1D;
$dog: #C56028;
$bun: #E4AC61;
$onions: #e1e3df;