// Fonts
$primary-font: 'Lato', sans-serif;
$secondary-font: 'Nunito', Helvetica, sans-serif;

// Shades
$white: #FFFFFF;
$black: #303030;

// Primary colors
$mustard: #fedc4f;
$charcoal: #363636;

$dog: #C56028;
$bun: #E4AC61;
$onions: #e1e3df;

// Gradients
$hero-gradient: linear-gradient(90deg, $mustard 0%, darken($mustard, 20%) 100%);