@import 'normalize';
@import 'variables';
@import 'buttons';

html {
  background-color: $charcoal;
}

body {
  background-color: $mustard;
  color: $charcoal;
  font-family: $primary-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $secondary-font;
}

p {
  margin-bottom: 15px;
}