$star-color-active: #ffdd57;
$star-color-hover: darken($star-color-active, 10%);

// Contains row of stars and text label
.star-ratings {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  padding: 0;

  // Hide actual vendor input elements
  input {
    display: none;
  }

  // Handle clicked / hover states
  &:not(:hover) {
    input[type=radio]:checked ~ label {
      path {
        fill: $star-color-active;
      }
    }
  }

  input + label {
    cursor: pointer;
    float: right;
    margin-right: 0;
  }

  label:hover, 
  label:hover ~ label {
    path {
      fill: $star-color-hover;
    }
  }
}