@import '../../styles/variables';

.navbar {
  background-color: $charcoal;
  color: $mustard;
  
  .navbar-brand {
    width: 100%;
    @media only screen and (min-width: 1024px) {
      width: auto;
    }

    .navbar-item {
      color: $mustard;
      font-weight: bold;
      letter-spacing: 0.1em;
    }

    .navbar-burger {
      color: $mustard;

      span {
        height: 2px;
      }
    }
  }

  .navbar-menu {
    padding: 0;
    
    &.is-active {
      background-color: $dog;

      .navbar-item {
        color: $mustard;
        font-weight: bold;
      }

      .navbar-start {
        .navbar-item {
          &:hover {
            background-color: darken($dog, 10%);
          }
        }
      }
    }
  }

  .navbar-end {
    .buttons {
      display: flex;
      flex-wrap: nowrap;
      justify-content: flex-start;
    }
  }

  img {
    max-width: 50px;
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
  }
}
